# For Github CMake Project Template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# For CLion
.idea
/cmake-build-debug

# For ESP-IDF
/build